.main {
  margin-top: 70px;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  flex: 1;
  justify-content: flex-start;
  /* padding-top: 32px; */
  /* gap: 32px; */
  grid-row-start: 2;
}
.container {
  padding: 0 2rem;
}

.blogpost p {
  margin-bottom: 20px;
  margin-top: 6px;

  justify-content: center;
}

.blogpost h3 {
  /* margin-top: 10px; */
  justify-content: center;
}

.blogItemp {
  max-width: 45vw;
}
