.container {
  max-width: 45%;
  margin: auto;
}

.container h1 {
  margin-bottom: 6%;
  margin-top: 8%;
  justify-self: center;
}

.mb3 {
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
}

.formControl {
  padding: 7px;
  border-radius: 5px;
  border: solid black;
}

.btnSubmit {
  color: black;
  font-weight: bold;
  background-color: white;
  padding: 7px 17px;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  transition: color 0.4s ease-in-out;
}

.btnSubmit::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: black;
  transition: height 0.4s ease-in-out;
  z-index: -1;
}

.btnSubmit:hover {
  color: white;
  background-color: grey;
}

.btnSubmit:hover::after {
  height: 100%;
}

.formLabel {
  margin: 0px 0px 6px 0px;
  font-weight: bold;
  font-size: 15px;
}
